#pca_plot_box .form-group .shiny-input-container {margin-left:500px;}

.modal {
  text-align:center;
}

@media screen and (min-width:768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content:"";
  }
}

.modal-dialog {
  background-color:transparent;
  width:fit-content;
  vertical-align: middle;
}

.modal-content {
  background-color:transparent;
}

.modal-body > div {
  display :inline;
}

.download_exp_btn {margin-left:15px; margin-bottom:15px; background-color:#14d1ff; color:white;}
.download_exp_btn:hover {background-color:#13c6f2; color:white;}
.download_dep_info_btn {margin-bottom:15px; background-color:#00c369; color:white;}
.download_dep_info_btn:hover {background-color:#01b563; color:white;}

#ppi_image >div >img {width:100%;}
